<% title 'SEO & Growth Blog | Muhammad Ibrahim' %>
<% description 'SEO & Growth experiements to help you grow your SaaS organically' %>


<% @posts.each do |post| %>
    <%= display_meta_tags title: post.title %> 
    <%= post.created_at.strftime("%B %d %Y, %l:%M%P")%>
    <%= link_to  "Read More", post %>
    <p>
        Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
    </p>
<% end %>
<%= will_paginate @posts %>