<%= @post.title %> 
<br>
<% breadcrumb :post, @post %>
<br>
<p>
    On <%= @post.created_at.strftime("%B %d %Y, %l:%M%P")%>
</p>
<br>
<%= @post.description %>
<br>
<%= markdownify sanitize @post.content %>  
<br>
<%= link_to  "Edit", edit_post_path(@post) %>
<%= render 'disqus' %>