<div class="post-container">
        
        <div class="post-header">
            <h1 class="post-header__title"><%= @post.title %> </h1>

            <div class="post-header__meme">
                    <span class="post-header__date"><strong>Last Updated: </strong><%= @post.updated_at.strftime("%B %d %Y")%></span> <br>
            </div>
            <a class="follow" href="https://twitter.com/ibrahimindie">@ibrahimindie</a>
        </div>
        <div class="post-content">
            <div class="post-content__paragraph">
                <%= markdownify sanitize @post.content %>
            </div>
        </div>

        <div class="share">
            <h4>Share the post on: </h4>
            <a onclick="javascript:window.open('https://twitter.com/share?text=<%= @post.title %> by @ibrahimindie - &amp;url=<%= @post%>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><img class="share__icon" src="/twitter.svg"></a>

            <a onclick="javascript:window.open('https://facebook.com/share?text=<%= @post.title %> by Muhammad Ibrahim - &amp;url=<%= @post%>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><img class="share__icon" src="/facebook.svg"></a>
        </div>
    
        <div class="disqus">
            <%= render 'disqus' %>
        </div>
        <% if admin_signed_in?%>
            <%= link_to  "Edit", edit_post_path(@post) %>
        <% end %>
       
    </div>




