<div class="post-container">
        
        <div class="post-header">
            <h1 class="post-header__title"><%= @post.title %> </h1>

            <div class="post-header__meme">
                    <span class="post-header__date"><strong>Last Updated: </strong><%= @post.updated_at.strftime("%B %d %Y")%></span> <br>
            </div>
            <a class="follow" href="https://twitter.com/ibrahimindie">@ibrahimindie</a>
        </div>
        <div class="post-content">
            <div class="post-content__paragraph">
                <%= markdownify sanitize @post.content %>
            </div>
        </div>

        
    
        <div class="disqus">
            <%= render 'disqus' %>
        </div>
        <% if admin_signed_in?%>
            <%= link_to  "Edit", edit_post_path(@post) %>
        <% end %>
       
    </div>




